#logo1 {

}

#search-bar {
	display: block;
	margin: auto;
	box-shadow: 0.25px 0px rgba(0,0,0,0.1);
	padding-left: 16px;
	font-size: 16px;
}

#logo {
	width:270px;
	height:90px;
	margin: 0 auto;
	display: block;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
}

#icon {
	width: 35px; height: 35px;
	border-radius: 100px;
}

ul {
	text-decoration: none;
}

form {
	position:relative;
	text-align: center;
	font-family: arial,sans-serif;
	border-radius: 2px;
}

.navigation-right {
	display:block;
    float: right;
    line-height:38px;
    margin:0;
    padding:5px;
    position:relative;
}

form.logo {
	margin: 0 auto;
	display: inline;
	position: absolute;
	left:50%;
	top:50%;
	margin:50px 0 0 -145px;
}

.navigation-right {
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #404040;
	text-decoration: none;
}


#search-bar {
	display: block;
	margin: auto;
	box-shadow: 0.25px 0px rgba(0,0,0,0.1);
	padding-left: 16px;
	font-size: 16px;
}

.submit {
	margin: 10px;
	display: inline;
	padding: 10px;
	background-color: #f2f2f2;
	font-size: 13px;
	border: 1px solid #f2f2f2;
	color: #8a8b8c;
	text-align: center;
	font-weight: bold;
}

.submit:hover {
	text-decoration:none;
	border: 1px solid #c6c6c6;
	box-shadow: 1px 1px rgba(0,0,0,0.1);
	font-weight: bold;
	color: black;
	-webkit-linear-gradient:(top,#f8f8f8,#f1f1f1);
}

.footer {
	background-color: #f2f2f2;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #666770;
	text-decoration: none;
	padding-left: 25px;
}

ul.footer > li {
	display:block;
    float: left;
    line-height:30px;
    margin:0;
    padding:5px;
    bottom: 0;
}

ul.footer {
    border-top: 1px solid #c6c6c6;
	position:absolute;
	display:block;
    float: left;
    margin:0;
    padding:0;
    bottom: 0;
}
